<div class="container" style="background-color: rgb(6, 49, 99); max-width: 100%;">
	<div class="row">
		<div class="col-9">
			<p class="text-light pt-3">Try the question for a chance of getting a discount code</p>
		</div>
		<div class="col pt-2">
			<ul>
				{% if user.is_authenticated %}
				<div class="">
					<a href="{% url 'order:order_history' %}" class="btn btn-outline-light">Order History</a>
					<a href="{% url 'signout' %}" class="btn btn-warning ml-2">Sign Out</a>
				</div>
				{% else %}
				<div class="">
					<a href="{% url 'signin' %}" class="btn btn-outline-light"><i class="material-icons align-middle pr-1">person</i>Log In</a>
					<a href="{% url 'signup' %}" class="btn btn-warning ml-2">Sign up</a>
				</div>
				{% endif %}
			</ul>
		</div>
	</div>
</div>
