{% extends "base.html" %} {% load static %} {% block metadescription %} This is the shopping cart page. Proceed to review your items and place the order. {% endblock %} {% block title %} Cart - Perfect Cushion Store {% endblock %} {% block content %} {% if not cart_items %}

Your shopping cart is empty

Please click here to continue shopping. 

{% else %}

Your shopping cart

{% for cart_item in cart_items %} 
<br>
{{cart_item.product.name}}
  Price : £{{cart_item.product.price}}
<br> Quantity: {{cart_item.quantity}}
<br>
Subtotal: {{cart_item.quantity}} x £{{cart_item.product.price}} = 	£{{cart_item.sub_total}}
{% if cart_item.quantity < cart_item.product.stock %}
<td>
    <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="custom_a"><i></i>Add another</a>   |  
    <a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a"><i></i>Remove from Cart</a>  |
    <a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fas fa-trash-alt custom_icon"></i>Remove all</a>
</td>
{% else %}
<td>
    &nbsp;<a href="{% url 'cart:cart_remove' cart_item.product.id %}" class="custom_a">Remove from Cart</a>
    <a href="{% url 'cart:full_remove' cart_item.product.id %}" class="custom_icon"><i class="fas fa-trash-alt custom_icon"></i>Remove all</a>
</td>

{% endif %} {% endfor %} 
<br>
Your total is £{{ total }}
<br>
Checkout
 or
Continue Shopping

{% endif %} {% endblock %}