/****Cart Page****/
.my_custom_table {
	min-width: 400px;
	font-size: 14px;
}
.my_custom_thead {
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: .2em;
	background-color: #f8f9fa!important;
}
.custom_image {
	width: 100px;
	height: 100px;
}
.custom_a {
	text-decoration: none;
}
.custom_icon {
	text-decoration: none;
	color: #868e96 !important;
}
.my_custom_button {
	margin-top: 5px;
}

/****Navbar****/
.nav-item {
	letter-spacing: .2em;
	font-size: 14px;
	text-transform: uppercase;
}
.dropdown-item {
	font-size: 14px;
	letter-spacing: .2em;
	text-transform: uppercase;
}
body {
	font-family: 'Roboto', sans-serif;
}

/****Footer****/
.page_footer {
	background-color: rgb(0,0,150);
	height: 60px;
}
.my_footer p {
	padding-top: 20px;
	font-size: 14px;
}

/****Category page****/
.page_row {
	padding-top: 15px;
}
.page_row .mx-auto p {
	color: #000;
	font-size: 12px;
}
.page_row .mx-auto p a {
	color: #000;
	font-size: 12px;
	text-decoration: none;
}

/****Category page****/
.images {
	width: 100%;
	height: auto;
}
.name {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: .2em;
}

/****Product Page****/
.prod_row_class {
	padding-top: 15px;
	padding-bottom: 20px;
}
.prod_row_class .mx-auto p {
	color: #000;
	font-size: 12px;
}
.prod_row_class .mx-auto p a {
	color: #000;
	font-size: 12px;
	text-decoration: none;
}

.my_margin {
	margin-bottom: 10px;
}

.card-body h4 {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: .2em;
}
